*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1) ); */
}

header{
    text-align: center;
    background-color: rgb(237, 233, 233);
    margin: 1% 5%;
    border-radius: 7px;
}

header h1 {
    padding: 2%;
}
header h3 {
    padding-bottom: 2%;
}

form{
    padding-top: 2%;
}


.container{
    display: flex;
    justify-content: space-around;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftContainer input, select{
    margin-top: 2%;
    padding: 3% 2%;
    border-radius: 2px;
    
}
.leftContainer label{
    background-image: linear-gradient(to right, rgba(94,85,89,0.5), rgba(231,228,230,1) );
    border-radius: 2px;
    font-style: italic;
    font-weight: 600;
    /* padding-left: 1%; */
    /* padding: 1% 0; */
}




.bottomTextArea{
    display: flex;
    flex-direction: column;
    margin: 2% 30%;
}

.bottomTextArea label{
    text-align: center;
}